* {
	margin: 0;
	padding: 0;
}

.navButton{
	font-size: 16px;
	padding: 16px;
	background: white;
	border: none;
	cursor: pointer;
}

.navButton:hover {
  border-bottom: 3px solid #902923;
  cursor: pointer;
}

.gridContainer {
	display: grid;
	grid-template-rows: 7vh 88vh 5vh;
	width:100vw;
	height:100vh;
}

.navbar {
	grid-row: 1 / 2;
	background-color: white;
}

.footer {
	grid-row: 3 / 4;
	background-color: white;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 -1px 20px grey ;
}

.gridItem {
	display: flex;
	justify-content: center;
	align-items: center;
	/*
	border-style: solid;
	border-color: black;
	*/
}

.gridItemStart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*
	border-style: solid;
	border-color: black;
	*/
}

.gridItemColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*
	border-style: solid;
	border-color: black;
	*/
}

.gridItemSpaceArd {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*
	border-style: solid;
	border-color: black;
	*/
}

.gridItemColumnStart {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/*
	border-style: solid;
	border-color: black;
	*/
}

.gridItemColumnStartLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	/*
	border-style: solid;
	border-color: black;
	*/
}

/* Main Page */
.mainPageContainer {
	display: grid;
	grid-template-columns: 40% 60%;
}

.nameBox {
	grid-column: 1 / 2;
	grid-row: 1;
	background-color: #902923;
}

.mainImageBox {
	grid-column: 2 / 3;
	grid-row: 1;
	overflow: hidden;
}

.mainImage {
	content: url(https://previews.123rf.com/images/golubovy/golubovy1904/golubovy190401148/121260616-food-assortment-top-view-buffet-dishes-selection-on-restaurant-table-white-plates-with-meals-on-whit.jpg);
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.name {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #D6D5C9;

}

.tagline {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #B9BAA3;
}

.siteButton {
	margin: 1em;
	background-color: #626558; /* chg */
	border: 1px solid #626558;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.siteButton:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .siteButton {
    padding: 10px 30px;
  }
}

/* Menu */

.menuPageContainer {
	display: grid;
	grid-template-rows: 30% 70%;
}

.menuImageBox {
	grid-row: 1 / 2;
	overflow: hidden;
}

.menuImage {
	content: url(https://techcrunch.com/wp-content/uploads/2018/07/GettyImages-742168705.jpg?w=600);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.menuSectionContainer {
	grid-row: 2 / 3;
	overflow: auto;
}

.menuSection {
	width: 75%;
	margin-top: 1em;
	padding-bottom: 2em;
}

.menuSectionName{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #902923;
	font-size: 1.5em;
}

.menuItem {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 60% 40%;
	width: 100%;
	margin: 0.5em; 
	font-family: Arial, Helvetica, sans-serif;
}

.menuItemName {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	font-weight: bold;
}

.menuItemDescription {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.menuItemPrice {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-weight: bold;
}

.menuImage {
	grid-row: 1 / 2;
}

/* Contact Page */


.contactPageContainer {
	display: grid;
	grid-template-rows: 40% 60%;
	overflow: auto;
}

.contactImageBox {
	grid-row: 1 / 2;
	overflow: hidden;
}

.contactImage {
	content: url(https://static01.nyt.com/images/2020/08/05/dining/03chefs4/03chefs4-superJumbo.jpg?quality=75&auto=webp);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.contactInfoContainer {
	grid-row: 2 / 3;
	padding: 1em;
}

.contactInfoContainer > div {
	margin: 1em;
}

.contactInfo {
	width : 80%;
}

.contactInfoText {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.contactInfoLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #902923;
	font-weight: bold;
}

.contactText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.contactButton {
	
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  display: grid;
  grid-template-columns: 5% 90% 5%
}

.modalCloseButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  grid-column: 3 / 4;
}

.modalCloseButton:hover,
.modalCloseButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inputContainer {
	grid-column: 2 / 3;
}

.inputContainer > div{
	margin: 1em;
}

.input {
	/* font */
	width: 40%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.inputElement {
	width: 100%;
}

.messageBox {
	width: 100%;
	height: 5em;
}